.rasp{
    height: 800px;
    width: 800px;
}

.icecream{
    width: 100%;
    height: 800px;
}

.bout{
    width: 90%;
    height: 800px;
}

.parrafo{
    background-color: pink;
    color: white;
    height: 500px;
    width: 500px;
    padding: 10px;
    align-items: center;

}

.ice{
    width: 800px;
    height: 500px;
}




